<div class="card-product">
  <% link_to goat_path(goat) %>
  <%= goat.photo.attached? ? cl_image_tag(goat.photo.key, height: 400, width: 600, crop: :fill) : image_tag(goat.image, height: 400, width: 600, crop: :fill) %>
  <div class="card-product-infos">
    <h2> <%= goat.name %> </h2>
    <p><strong>Age:</strong> <%= goat.age %></p>
    <p><strong>Services:</strong> <%= goat.services %></p>
    <p><strong>Appetite(kgs):</strong> <%= goat.appetite %></p>
    <p><strong>description:</strong> <%= goat.description %></p>
    <p><%= link_to 'Delete Goat', goat_path(goat),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>
  </div>
</div>
