<div class="container">
<h1>Hi <%= @user.email%> here are all your bookings</h1>
</div>

<% @bookings.each do |booking| %>
  <div class="card-product">
    <div class="card-product-infos">
      <img src= <%= booking.goat.image %>/>
      <h2><%= booking.goat.name %></h2>
      <h2>Status: <%= booking.status %> </h2>
      <p><strong>Rental Start Date:</strong> <%= booking.rental_start_date %></p><p><strong>Rental End Date:</strong> <%= booking.rental_end_date %></p>
    </div>
  </div>
<% end %>

<h1>Your goats for rent</h1>
  <% @goats.each do |goat| %>
    <div class="card-product">
      <div class="card-product-infos">
        <img class="goat-show-image" src= <%= goat.image %>/>
        <h2> <%= goat.name %> </h2>
        <p><strong>Age:</strong> <%= goat.age %></p>
        <p><strong>Services:</strong> <%= goat.services %></p>
        <p><strong>Appetite(kgs):</strong> <%= goat.appetite %></p>
        <p><strong>description:</strong> <%= goat.description %></p>
      </div>
    </div>
  <% end %>
