<body class="home">
  <div class="container">
    <h1 class="slogan-font"><em>Go for the G.O.A.T.</em></h1>
    <div class="marketing-slogan">
      <h4>Have better things to do with your time than pushing around a lawn mower?</h4>
      <h4>Want the Greatest (animal) Of All Time to hang out with?</h4>
      <h4>Look no further!</h4>
    </div>
  </div>

<div class="container">
  <h4>Browse au naturale lawn-mowing cuddle buddies below:</h4>
    <% @goats.each do |goat| %>
      <div class="card-product">
        <%= link_to goat_path(goat) do %>
          <%= goat.photo.attached? ? cl_image_tag(goat.photo.key) : image_tag(goat.image) %>
          <%# <%=  cl_image_path goat.photo.key %>
          <div class="card-product-infos">
            <h2> <%= goat.name %> </h2>
            <p><strong>Age:</strong> <%= goat.age %></p>
            <p><strong>Services:</strong> <%= goat.services %></p>
            <p><strong>Appetite(kgs):</strong> <%= goat.appetite %></p>
            <p><strong>description:</strong> <%= goat.description %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</body>
