<div class="card-goat-infos">
  <%# <img class="goat-show-image" src= <%= @goat.image %>
  <%# don't know where to put  :class => "goat-show-image" so just leave it here %>
  <%# <div class="goat-show-image"> %>
  <%= @goat.photo.attached? ? cl_image_tag(@goat.photo.key, height: 400, width: 600, crop: :fill, :class => "goat-show-image") : image_tag(@goat.image, height: 400, width: 600, crop: :fill, :class => "goat-show-image") %>
  <h2> <%= @goat.name %> </h2>
  <p><strong>Age:</strong> <%= @goat.age %></p>
  <p><strong>Services:</strong> <%= @goat.services %></p>
  <p><strong>Appetite(kgs):</strong> <%= @goat.appetite %></p>
  <p><strong>description:</strong> <%= @goat.description %></p>

  <% if current_user.goats.include?(@goat) %>
    <h2>You already own this goat!</h2>
  <% else %>
    <%= link_to 'Book dis goat!', new_goat_booking_path(@goat) %>
  <% end %>
</div>
<div class="container">
  <div class="reviews">
    <% if @goat.reviews.count == 0 %>
      <p>Be the first to leave a review on this goat</p>
    <% else %>
      <% @goat.reviews.each do |review| %>
      <div>
        <p>Comment: <%= review.comment %></p>
        <p>Rating: <%= review.rating %></p>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
