<div class="card-goat-infos">
  <img class="goat-show-image" src= <%= @goat.image %>/>
  <h2> <%= @goat.name %> </h2>
  <p><strong>Age:</strong> <%= @goat.age %></p>
  <p><strong>Services:</strong> <%= @goat.services %></p>
  <p><strong>Appetite(kgs):</strong> <%= @goat.appetite %></p>
  <p><strong>description:</strong> <%= @goat.description %></p>
</div>
