<div class="card-goat-infos">
  <img class="goat-show-image" src= <%= @goat.image %>/>
  <h2> <%= @goat.name %> </h2>
  <p><strong>Age:</strong> <%= @goat.age %></p>
  <p><strong>Services:</strong> <%= @goat.services %></p>
  <p><strong>Appetite(kgs):</strong> <%= @goat.appetite %></p>
  <p><strong>description:</strong> <%= @goat.description %></p>
<<<<<<< HEAD

  <%= link_to 'Book Dis Goat!', 'bookings#new' %>
=======
  <%= link_to 'Book dis goat!', new_goat_booking_path(@goat) %>
>>>>>>> c4c8813ed7e97a01675d704e7b4c78043895df34
</div>
